@media (max-width: 1020px) {
  .container {
    flex-direction: column-reverse;
  }
  .form-wrap {
    max-width: 100% !important;
  }
  .container {
    padding-top: 0px;
  }
}
@media (max-width: 1020px) {
  .photo {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    width: 100% !important;
  }
  .buttons button {
    width: 100%;
    margin-top: 10px;
  }
  .wrapper {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .text h1 {
    font-size: 20px;
  }
  .bottom_slice {
    height: 500px;
  }
}
